<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script> -->
</head>
<body>
  <form action="/users?_csrf={{ ctx.csrf | safe }}" method="post">
    username : <input type="text" name="username" id="">
    pwd : <input type="text" name="pwd" id="">
    <button type="submit">register</button>
  </form>
</body>
</html>