<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/public/iview.css" />
  <!-- <script src="main.js"></script> -->
</head>
<body>
  <center>
    <div id="app">
      <drawer></drawer>
      <div v-if="user">
        user name: {[ user.username ]} id: {[ user.id ]}
        <i-button v-on:click="logout" shape="circle" type="error" size="small">logout</i-button>
        <br>
        <i-input
         type="text"
         name="tasktitle"
         id="tasktitle" 
         v-model.trim="tasktitle" 
         v-on:keyup.enter="addTask" 
         clearable
         style="width: 500px">
          <span slot="prepend">task title</span>
          <i-select slot="append" v-model="masterid" v-show="/\^/.test(tasktitle)" v-on:change='chooseMaster()'>
            <i-option
              v-for="task in tasks"
              v-if="!task.is_done"
              v-bind:value="task.id"
              :key="task.id">
              {[ task.title ]}
            </i-option>
          </i-select>
        </i-input>
        <!-- <div v-if="/\^/.test(tasktitle)">
          <div v-if="tasks">
              <ol>
                <li v-for="task in tasks" v-if="!task.is_done" v-bind:style="{ color: 'red' }" v-on:click='chooseMaster(task.id)'>
                  {[ task.title ]} {[ task.duration ]}
                </li>
              </ol>
            </div>
            <div v-else>
        
            </div>
        </div> -->
        <!-- <i-input v-show="true" type="text" name="masterid" id="masterid" v-model="masterid"></i-input> -->
      </div>
      <!-- login or register -->
      <div v-else>
        username : <i-input type="text" name="username" id="username" v-model="username" style="width: 100px"></i-input>
        pwd : <i-input type="password" name="pwd" id="pwd" v-model="pwd" style="width: 100px"></i-input>
        <i-button v-on:click="register" shape="circle" type="info">register</i-button>
        <i-button v-on:click="login" shape="circle" type="success">login</i-button>
      </div>
      <!-- tasks list -->
      <div v-if="tasks" id="new">
        <ol v-bind:style="{ color: 'DimGray', 'list-style-type': 'none' }">
          <li v-for="task in tasks" v-if="!task.is_done" v-on:click='showTask(task.id)'>
            {[ task.title ]} {[ task.duration ]}
          </li>
        </ol>
      </div>
      <div v-if="tasks" id="done">
        <ol v-bind:style="{ color: 'lightgray', 'list-style-type': 'none' }">
          <li v-for="task in tasks" v-if="task.is_done" v-on:click='showTask(task.id)'>
            {[ task.title ]} {[ task.duration ]}
          </li>
        </ol>
      </div>
      <!-- now task -->
      <div v-if="now.length">
        <ol v-bind:style="{ 'list-style-type': 'none' }">
          <li v-for="task in now" v-if="nowid == task.id" v-bind:style="{ color: 'orange' }">
            {[ task.title ]} {[ task.duration ]}
          </li>
          <li v-else v-bind:style="{ color: 'green' }">
            {[ task.title ]} {[ task.duration ]}
          </li>
        </ol>
      </div>
    </div>
  </center>

  <script src="/public/vue.js"></script>
  <script src="/public/jquery.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="/public/vue-resource.min.js"></script>
  <script src="/public/iview.min.js"></script>

  <script>
    var lalaid = '{{ ctx.session.user.id }}';
    var app = new Vue({ 
      el: '#app',
      data: {
          message: '',
          username: '',
          pwd: '',
          tasktitle: '',
          masterid: null,
          user: lalaid?{
            id: '{{ ctx.session.user.id }}',
            username: '{{ ctx.session.user.username }}',
            pwd: '{{ ctx.session.user.pwd }}'
          }:null,
          tasks: null,
          now: [],
          nowid: '',
      },
      methods:{
        register:function(){
          this.$http
          .post('/users?_csrf={{ ctx.csrf | safe }}',{
            username: app.username,
            pwd: app.pwd
          })
          .then(function(res){
              alert(`register ok, you can login by ${res.body.username}`)
          },function(){
              console.log('请求失败处理');
          });
        },
        login:function(){
          this.$http
          .post('/login?_csrf={{ ctx.csrf | safe }}',{
            username: app.username,
            pwd: app.pwd
          })
          .then(function(res){
            app.user = res.body;
            if(app.user){
              app.getTasks();
            }
          },function(){
              app.message = 'unavailable username or password';
          });
        },
        getTasks:function(){
          this.$http
          .get('/tasks?&_csrf={{ ctx.csrf | safe }}')
          .then(function(res){
            app.tasks = res.body;
            console.log(res.body)
          },function(){
              app.message = 'unavailable userid';
          });
        },
        logout:function(){
          this.$http
          .get(`/logout?_csrf={{ ctx.csrf | safe }}`)
          .then(function(res){
            app.user = null;
          },function(){
              app.message = 'logout failed';
          });
        },
        addTask:function(){
          this.$http
          .post('/tasks?_csrf={{ ctx.csrf | safe }}',{
            user_id: app.user.id,
            master_id: app.masterid,
            title: app.tasktitle
          })
          .then(function(res){
              app.tasks = app.tasks || [];
              app.tasks.push(res.body);
              app.masterid = null;
          },function(){
              app.message = 'unavailable add';
          });
        },
        showTask:function(id){
          this.$http
          .get(`/tasks/${id}/?_csrf={{ ctx.csrf | safe }}`)
          .then(function(res){
              app.now = res.body;
              app.nowid = id;
          },function(){
              app.message = 'unavailable task id';
          });
        },
        chooseMaster:function(){
          console.log('lalalalallas',app.masterid)
          while(/\^/.test(app.tasktitle)){
            app.tasktitle = app.tasktitle.replace(/\^/,'');
          }
        }
      },
      delimiters : ['{[', ']}']
    });
    if(lalaid)app.getTasks();
  </script>
  <script type="text/x-template" id="drawer">
    <Button @click="value2 = true" type="primary">Open</Button>
    <Drawer title="Basic Drawer" placement="left" :closable="false" v-model="value2">
        <p>Some contents...</p>
        <p>Some contents...</p>
        <p>Some contents...</p>
    </Drawer>
  </script>
  <script>
    Vue.component('drawer', {
      template: '#drawer',
    })
  </script>
  
</body>
</html>